@use "../../presets" as *;
@use "../../mixins" as *;


.about {
  background-color: $color-gray-light;
  padding: 60px 0;

  @include lg-min {
    padding: 100px 0;
  }

  @include lg-md {
    padding: 80px 0;
  }
}

.about-container {
  @extend %container;
  display: grid;
  grid-template-columns: 2fr 236px;
  gap: $gap;

  @include lg-min {
    grid-template-columns: 2fr 271px;
    gap: 100px;
  }

  @include lg-md {
    grid-template-columns: 2fr 271px;
    gap: 40px;
  }

  @include sm {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

.about-contant {}



.about-contant__text {
  letter-spacing: 0.055rem;
  color: $color-gray;
  font-weight: 400;

  @include lg-min {
    font-size: 1.125rem;
  }

  p:first-of-type {
    position: relative;
    margin-top: -5px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      background-color: rgba($color-gray, 0.1);

      @include lg-min {
        right: -50px;
      }

      @include lg-md {
        right: -20px
      }

      @include md-sm {
        right: -10px
      }

      @include sm {
        display: none;
      }
    }
  }

  p:last-of-type {
    margin: 0;
  }
}


.about-img {
  display: grid;
  align-content: center;
  justify-items: center;

  img {
    max-width: 100%;
    max-height: 480px;
  }
}

.about-img__lamp {}