@use "../../presets" as *;
@use "../../mixins" as *;


.about {
  background-color: $color-gray-light;
  padding: 60px 0;

  @include lg-min {
    padding: 100px 0;
  }

  @include lg-sm {
    padding: 80px 0;
  }
}

.about-container {
  @extend %container;
  display: grid;
  grid-template-columns: 2fr 271px;
  gap: 100px;

  @include sm {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

.about-contant {}

.about-contant__title {
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  line-height: 2rem;
  font-weight: 700;
  color: $color-primary;
  font-family: "Roboto Slab";
  margin-bottom: 2.25rem;

  @include lg-min {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  @include lg-sm {
    font-size: 2rem;
    letter-spacing: 0.188rem;
    line-height: 2.5rem;
    margin-bottom: 2.625rem;
  }

  @include sm {
    text-align: center;

  }

}

.about-contant__text {
  letter-spacing: 0.0625rem;
  line-height: 1.5rem;
  color: $color-gray;
  font-weight: 400;

  @include lg-min {
    font-size: 1.125rem;
  }

  p:first-of-type {
    position: relative;
    margin: -5px 0 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      background-color: rgba($color-gray, 0.1);

      @include lg-min {
        right: -50px;
      }

      @include lg-md {
        right: -20px
      }

      @include md-sm {
        right: -10px
      }

      @include sm {
        display: none;
      }
    }
  }
}


.about-img {
  display: grid;
  align-content: center;
  justify-items: center;

  img {
    max-width: 100%;
    max-height: 480px;
  }
}

.about-img__lamp {}