@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  background-color: $color-primary;
  padding: $gap-lg 0;

  &__container {
    @extend %container;
    display: grid;
    gap: $gap;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btn {
    &--primary {
      width: 100%;
      color: #ffffff;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.1);

      &:hover,
      :focus {
        cursor: pointer;
        border-color: #ffffff;
        background-color: #d66926;
      }
    }

  }

}

.form-item {
  &__input {
    display: block;
    font-size: 1.125rem;
    letter-spacing: 0.15em;
    height: 60px;
    width: 100%;
    padding-left: $gap-lg;
    padding-right: $gap-lg;
    background-color: rgba($color-light, $alpha: 0.1);
    color: $color-light;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.5s, border-color 0.5s;

    &:hover,
    &:focus {
      border-color: rgba(255, 255, 255, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba(255, 255, 255, 0.15);

      &::placeholder {
        color: rgba($color-light, $alpha: 50%);
      }
    }
  }

  @include md-sm {
    &:nth-of-type(1) {
      grid-column: 1/span 2;
    }
  }

}