@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  padding: 50px 20px 70px;
  background-color: $color-primary;

  &__container {
    @extend %container;
    text-align: center;

  }

}

.footer__social {
  position: relative;
  display: grid;
  justify-content: center;
  margin-bottom: $gap-x2;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: calc(50% - 37.5px);
    width: 75px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  a {
    display: block;
    padding: 10px;
    transition: color 0.5s;
  }

  a:hover,
  a:focus {
    color: #d66926;
  }

  .fab {
    font-size: 36px;
  }
}

.footer__copy {

  span:nth-of-type(1) {
    margin-right: -0.5em;
    letter-spacing: 0.33em;
    font-weight: 100;
  }

  span:nth-of-type(2) {
    letter-spacing: 0.05em;
    color: $color-gray-light;
    font-weight: 700;
  }
}