@use "../../presets" as *;
@use "../../mixins" as *;

.header-contant {
  position: relative;
  z-index: 1;


  &__container {
    @extend %container;
  }

  &__title {

    text-align: center;

    @include lg-min {
      margin: 0 0 53px 0;
    }

    @include lg-md {
      margin: 0 0 43px 0;
    }

    @include md {
      margin: 0 0 33px 0;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}