@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    min-width: 250px;
    height: 60px;
    font-size: 1.125rem;
  }

  @include lg-md {
    min-width: 200px;
    height: 50px;
  }

  @include md {
    min-width: 170px;
    height: 40px;
  }
}

.btn--primary {
  height: 60px;
  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);
  font-size: 1.125rem;

  @include sm-min {
    width: 350px;
  }

  @include sm {
    width: 100%;
  }
}

.subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 700;
  color: $color-primary;
  font-family: "Roboto Slab";
  margin-bottom: 2.25rem;
  margin-top: 0;

  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  @include lg-md {
    font-size: 2rem;
    margin-bottom: 2.625rem;
  }

  @include sm {
    text-align: center;
  }
}